body {
    background-color: #bdb5b5;/*Cor fundo*/
    text-align: center;
}

.quadrado {
    width: 300px; /* Largura do quadrado */
    height: 300px; /* Altura do quadrado */
    background-color: rgb(81, 46, 163); /* Cor de fundo azul(ficou melhor) */
    border: 2px solid white; /* Borda branca de 2px */
    border-radius: 20px; /* valor do raio para arredondar os vértices */
    margin: 0 auto;
    margin-left: 80px;
  

    /*esse aqui mexe com a placa inteira*/

}

h3 {
    color: white;
}

#cadastrar {
    background-color: rgb(81, 46, 163);
    background-color: center;
    /*esse aqui mexe apenas com a linha escrito cadastrar(login)*/

}

.cima{
    background-color: rgb(11, 11, 124);
    padding: 20px;
}

section{
    margin-left: 80px;
    padding:30px ;
}

#rua2{
    margin:45px;
    height:365px;
    width: auto;
    
}

#logo{
    margin-right:150px;
    margin-top: 285px;
    height: 100px;
}

.titulo{
    text-align: right;
}




