body {
    background-color: #bdb5b5;/*Cor fundo*/
    text-align: center;
    margin: 0;
    padding: 0;
    width: 830px;
    height: 2000px; 
}

.quadrado {
    width: 415px; /* Largura do quadrado */
    height: 415px; /* Altura do quadrado */
    background-color: rgb(119, 89, 190); /* Cor de fundo azul(ficou melhor) */
    border: 2px solid white; /* Borda branca de 2px */
    border-radius: 20px; /* valor do raio para arredondar os vértices */
    margin: 0 auto;
    text-align: center;
}

h2 {
    color: white;
}

#cadastrar {
    background-color: rgb(119, 89, 190);
    margin-right: 50px;
    /*esse aqui mexe apenas com a linha escrito cadastrar(login)*/

}

.cima{
    background-color: rgb(119, 89, 190);
    padding: 20px;
}

section{
    margin-left: 80px;
    padding:30px ;
}

#rua2{
    margin:35px;
    height: 300px;
    width:1000px;
}

#logo{
    margin-right:150px;
    margin-top: 285px;
    height: 100px;
}

.titulo{
    text-align: right;
}

#topo2{
    width: 420px;
    
}

#cadastro2{
    margin-right: 50px;
    /*mexe na palvra cadastro(cadastro)*/
}

